{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@components": "./src/components",
                    "@config": "./config"
                    // "@theme": "./src/theme"
                }
            }
        ],
        [
            "styled-components",
            {
                "ssr": true
            }
        ]
    ]
}